name: 'coverage report'
on:
  pull_request:
    branches:
      - main
jobs:
  coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ArtiomTr/jest-coverage-report-action@v2
